<html>
    <head>
        <link rel="stylesheet" href="assets/style.css" rel="stylesheet">
    </head>
    <body>
        Hello world!
        <form method="POST" action="/person">
            First Name <input type="text" name="firstname">
            Last Name <input type="text" name="lastname">
            <input type="submit" value="Submit!" />
        </form>
    </body>
</html>