<html>
    <head>
        <link rel="stylesheet" href="assets/style.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        Hello world!
        <form method="POST" action="/person">
            First Name <input type="text" name="firstname">
            Last Name <input type="text" name="lastname">
            <input type="submit" value="Submit!" />
        </form>
        <script>
            $.ajax({
                type:"POST",
                url:"/personjson",
                data:JSON.stringify({firstname:"Ivan",lastname:"Prokopenko"}),
                dataType:'json',
                contentType: 'application/json'
            })

        </script>
    </body>
</html>